<% include partials/header %>

<h1>This is the home page!</h1>

<img src="https://images.unsplash.com/photo-1541194577687-8c63bf9e7ee3?ixlib=rb-0.3.5&s=061b2dc0539b97ffd7be84b3900a9234&auto=format&fit=crop&w=2850&q=80">

<% include partials/footer %>